<!-- We can use string interpolation like: -->
<!-- <h2>{{ 'Philip Andes' }} </h2> -->
<!-- Or -->
<!-- {{ 5 + 5 }}  -->

<!-- Or we can use properties here that we defined  -->
<!-- <h2>{{ firstName }} {{ lastName }}</h2>  -->

<!-- <ul>
  <li>Age: {{ age }}</li>
  <li>Address: {{ address.street }} {{ address.city }} {{ address.state }}</li>
</ul> -->


<!-- //////////////////////Cleanup Interfaces///////////////////////// -->
<h2>{{ user.firstName }} {{ user.lastName }}</h2>

<ul>
  <li>Age: {{ user.age }}</li>
  <li>Address: {{ user.address.street }} {{ user.address.city }} {{ user.address.state }}</li>
</ul>
